{{template "above" .}}

{{ if .Bimi }}
<div class="container d-flex justify-content-center row">
    <div class="col-sm-12 col-md-9 col-lg-6">
        <img src="{{.Bimi}}" alt="{{.Domain}} logo" />
    </div>
</div>
{{ end }}

{{template "below" .}}