{{template "above" .}}

<div class="container d-flex justify-content-center row">
    <form method="GET" class="col-sm-12 col-md-9 col-lg-6">
        <div class="input-group mb-3">
            <input name="q" class="form-control" id="q" value="{{.Query}}" />
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </form>
</div>

{{if .Domains}}
<div class="row py-3">
    <div class="col logo-container">
{{range .Domains}}
        <a href="/bimi/{{.Domain}}/"><img src="{{.Imgurl.String}}" alt="{{.Domain}}" /></a>
{{end}}
    </div>
</div>
{{if .Query}}
<div class="row py-3">
    <div class="col">
        {{len .Domains}} domains found for query "{{.Query}}"
    </div>
</div>
{{end}}
{{else}}
<div class="row py-3">
    <div class="col alert alert-warning">
        No domains found for query "{{.Query}}"
    </div>
</div>
{{end}}

<div class="row">
    <div class="col">
        <a href="view.html">View all</a>
        | <a href="list.html">List (text)</a>
        | <a href="invalid.html">Invalid</a>
    </div>
</div>


{{template "below" .}}
